In [11]:
import cv2
#from colorthief import ColorThief
import numpy as np
import pandas as pd
import matplotlib.image as mpimg

In [12]:
import extcolors

from colormap import rgb2hex

In [13]:
camera=cv2.VideoCapture(0)
while True:
    _, image=camera.read()
    cv2.imshow('image', image)
    if cv2.waitKey(1)& 0xFF==ord('s'):
        cv2.imwrite('test1.jpg', image)
        break
camera.release()
cv2.destroyAllWindows()
#def getcolor():
    #ColorThief=ColorThief('test1.jpg')
    #colors=ColorThief.get_pallete(color_count=2)
    #print(colors)
#getcolor()

In [14]:
colors_x = extcolors.extract_from_path('test1.jpg', tolerance = 12, limit = 12)
colors_x

([((10, 8, 9), 51512),
  ((186, 197, 193), 42812),
  ((154, 154, 154), 27020),
  ((60, 58, 33), 24147),
  ((39, 17, 6), 20924),
  ((37, 37, 37), 20174),
  ((100, 100, 98), 17024),
  ((157, 112, 91), 14150),
  ((65, 63, 64), 14050),
  ((87, 59, 20), 9174),
  ((124, 89, 57), 6359),
  ((167, 105, 68), 5767)],
 307200)

In [15]:
def color_to_df(input):
    colors_pre_list = str(input).replace('([(','').split(', (')[0:-1]
    df_rgb = [i.split('), ')[0] + ')' for i in colors_pre_list]
    df_percent = [i.split('), ')[1].replace(')','') for i in colors_pre_list]
    
    #convert RGB to HEX code
    df_color_up = [rgb2hex(int(i.split(", ")[0].replace("(","")),
                          int(i.split(", ")[1]),
                          int(i.split(", ")[2].replace(")",""))) for i in df_rgb]
    
    df = pd.DataFrame(zip(df_color_up, df_percent), columns = ['c_code','occurence'])
    return df

df_color = color_to_df(colors_x)
df_color

     c_code occurence
0   #0A0809     51512
1   #BAC5C1     42812
2   #9A9A9A     27020
3   #3C3A21     24147
4   #271106     20924
5   #252525     20174
6   #646462     17024
7   #9D705B     14150
8   #413F40     14050
9   #573B14      9174
10  #7C5939      6359